/* nav css */
nav.navbar{
  background-image: linear-gradient(to right, #063d86, #1582ba
  );
}

.navbar-nav{
  width: 100%;
}


#active-link{
  color: #26d790 ;
  border-bottom: 2px solid #26d790;
}
.container{
  border: 1px solid black;

}


/* nav css end */

